<!DOCTYPE html>
<html lang=“ja”>
 <head>
  <meta http-equiv="content-language" content="ja">
  <meta name="robots" content="noindex,nofollow">
  <meta charset="UTF-8">
  <title>flask_rensyu2</title>
 <style>
h1 {color: #26b72b;}
h1 a{text-decoration: none;}
h1 a:hover{color: #ccc;
                  text-decoration: underline;}
</style>
</head>
 <body>
<h1><a href="file:///C:/Users/%E7%A0%82%E5%B7%9D%E6%84%9B%E6%B5%B7/Desktop/index.html">こんにちは世界</a></h1>
<p>s24016のホームページへようこそ</p>
 </body>
</html>
